<div class='prodcut-catergory'>
	<div class='product'>
		<div class='product-header'>
			
		</div>
		<div class='product-image'>
		</div>
	</div>
	<div class='product'>
		<div class='product-header'>
			
		</div>
		<div class='product-image'>
		</div>
	</div>
	<div class='product'>
		<div class='product-header'>
			
		</div>
		<div class='product-image'>
		</div>
	</div>
	<div class='product'>
		<div class='product-header'>
			
		</div>
		<div class='product-image'>
		</div>
	</div>
</div>