// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html
	height: 100%
	width: 100%
body
	
	/*background-image: image-url("Elegant_Background-7.jpg")*/
	background-position: center 0 , center center
	background-color: #f7f4ef
	height: 100%
	margin: 0
	width: 100%
	.header
		height: 200px
		margin-right: 122px
		position: absolute
		z-index: 1
		right: 0
		width: 92%
		.logo
			display: none
			background-color: white
			height: 250px
			width: 16%
			border-top: none
			position: absolute
			margin-left: 15%
			border-bottom-left-radius: 10px
			border-bottom-right-radius: 10px

		.nav-bar
			width: 60%
			height: 80px
			float: right
			border: 1px solid black
			border-top: none
			display: inline-flex
			background-color: white
			font-family: georgia

			.home-nav
				width: 24%
				text-decoration: none
				height: 100%
				/*border: 1px solid green*/
				display: inline-block
				text-align: center
				line-height: 3
				font-size: 2vw
				color: black
				border-right: 1px solid black		
				&:hover
					color: #ae8e1b
					


			.products-nav
				text-decoration: none
				width: 24%
				height: 100%
				/*border: 1px solid green*/
				display: inline-block
				text-align: center
				line-height: 3
				font-size: 2vw
				color: black
				border-right: 1px solid black
				&:hover
					color: #ae8e1b
					opacity: 0.5

			.about-nav
				text-decoration: none
				width: 24%
				height: 100%
				/*border: 1px solid green*/
				display: inline-block
				text-align: center
				line-height: 3
				font-size: 2vw
				color: black
				border-right: 1px solid black
				&:hover
					color: #ae8e1b
					opacity: 0.5


			.gallery-nav
				width: 24%
				text-decoration: none
				height: 100%
				/*border: 1px solid green*/
				display: inline-block
				text-align: center
				line-height: 3
				font-size: 2vw
				color: black
				&:hover
					color: #ae8e1b
					opacity: 0.5


		.sign-up-button
			width: 78px
			height: 20px
			border: 1px solid black
			top: 87px
			position: absolute
			right: 10%
			border-radius: 10px
			background-color: white


.inside
	width: 100%
	position: absolute
	height: 670px
	.title
		width: 45%
		height: 40%
		position: relative
		font-size: 50px
		font-family: georgia
		left: 10%
		z-index: 1
		top: 225px
		color: #ae8e1b
		p
			font-size: 15px

	.create-cocktails
		background-color: #393939
		border: 0
		cursor: pointer
		font-weight: lighter
		padding: 0 20px
		overflow: visible
		width: auto
		width: 200px
		height: 47px
		position: absolute
		left: 128px
		z-index: 1
		color: white
		top: 400px
		font-size: 15px
		font-family: georgia
		font-size: 20px
		text-decoration: none
		line-height: 45px
		text-align: center
		border-radius: 5px
		&:hover
			color: #ae8e1b

	.picture
		background-color: white
		repeat: none
		width: 100%
		height: 100%
		border: 1px solid black
		position: absolute
		top: 0
		h1
			text-align: center
			line-height: 5
			font-size: 50px
			font-family: georgia

	.basic-info
		width: 80%
		height: 300px
		border-top: none
		position: absolute
		top: 780px
		left: 129px
		.info-header
			height: 50px
			margin-right: none
		.info-header1
			cursor: pointer
			width: 28%
			margin-right: 4%
			height: 50px
			display: inline-block
			margin-right: 20px
			line-height: 2
			text-align: left
			font-size: 19px
			padding-left: 10px
			border-left: none
			border-bottom: none
			background-color: #dddedf
			border: 1px solid black
		.info-header2
			border: 1px solid black
			cursor: pointer
			width: 28%
			margin-right: 20px
			height: 50px
			display: inline-block
			line-height: 2
			text-align: left
			font-size: 19px
			padding-left: 10px
			border-bottom: none
			background-color: #dddedf
		.info-header3
			border: 1px solid black
			cursor: pointer
			width: 35.3%
			height: 50px
			display: inline-block
			line-height: 2
			text-align: left
			font-size: 19px 
			/*padding-left: 10px*/
			border-bottom: none
			border-right: none
			background-color: #dddedfub
		.basic-info-content
			background-color: #ebebec
			height: 100%
			#content1
				position: absolute
			#content2
				position: absolute
				display: none
			#content3
				display: none
				position: absolute

	.bottom-boxes
		width: 90%
		height: 335px
		position: absolute
		top: 1177px
		left: 172px
		.left-box
			width: 290px
			height: 300px
			border: 1px  solid black
			display: inline-flex
			margin-right: 19px
			background-color: white
		.centre-box
			width: 290px
			height: 300px
			border: 1px solid black
			display: inline-flex
			margin-right: 19px
			background-color: white
		.right-box
			width: 290px
			height: 300px
			border: 1px solid black
			display: inline-flex
			margin-right: 19px
			background-color: white

	.footer
		bottom: 0px
		position: absolute
		width: 80%
		height: 50px
		border: 1px solid black
		position: absolute
		left: 117px
		top: 1590px
		margin-bottom: 55px
		background-color: white


.selected
	background-color: #ebebec !important
	border-bottom: 0
	color: #383636
	font-weight: 500
	height: 49px
	line-height: 49px