.product-title
	width: 95%
	height: 130px
	position: absolute
	top: 148px
	left: 0
	border: 1px solid black
	font-size: 30px
	font-family: georgia
	line-height: 3
	font-size: 45px
	padding-left: 5%
	line-height: 170px

.prodcut-catergory
	width: 72%
	height: 100%
	left: 336px
	position: absolute
	top: 340px
	.product
		width: 29%
		height: 400px
		position: relative
		top: 5%
		margin-left: 30px
		display: inline-flex
		margin-top: 5%

		.product-header
			width: 100%
			height: 20%
			border: 1px solid red
			position: absolute
			background-color: #383636
			color: white
			text-align: center
			font-size: 2vw
			line-height: 2
			font-family: Merriweather
			display: none
		.picture-image
			width: 80%
			height: 80%
			border: 1px solid blue
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin: auto

		.product-name
			width: 100%
			bottom: 0
			position: absolute
			height: 50%
			line-height: 33px

		.product-image
			height: 80%
			position: absolute
			left: 0
			right: 0
			margin: auto
			width: 100%
			&:hover
				cursor: pointer
			img
				width: 100%
				height: 100%
		.footer-info		
			height: 20%
			bottom: 0
			position: absolute
			width: 100%
			.top-footer-info
				width: 100%
				height: 50%
				background-color: white
				.add-to-cart
					width: 50%
					left: 0
					height: 100%%
					color: #544840
					line-height: 37px
				.quick-view				
					width: 44%
					right: 0
					position: absolute
					height: 100%
					top: 0
					line-height: 37px
					text-align: right
					padding-right: 5%

.cocktail-image-border
	width: 20%
	height: 200px
	position: absolute
	border: 1px solid black
	top: 300px
	left: 190px
	.cocktail-image
		width: 90%
		height: 90%
		border: 1px solid black
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: auto
		img
			width: 100%
			height: 100%	

.small-cocktail-image-box
	width: 20%
	height: 80px
	position: absolute
	border: 1px solid black
	top: 530px
	left: 190px
	display: inline-flex
	.small-cocktail-images-border
		width: 30%
		height: 70px
		position: absolute
		border: 1px solid black
		display: inline-block
		.small-cocktail-images
			width: 80%
			height: 80%
			border: 1px solid black
			position: absolute
			left: 0
			right: 0 
			bottom: 0
			top: 0
			margin: auto
			display: inline-block

.cocktail-info
	width: 30%
	height: 300px
	position: absolute
	left: 38%
	top: 218px
	.cocktail-title
		width: 100%
		height: 70px
		position: absolute
		font-family: georgia
		font-size: 50px
		h4
			margin: 0
			font-weight: 100
		p
			font-size: 12px
			position: absolute
			margin: 0
		.stock
			color: green

	.cocktail-price
		width: 100%
		height: 70px
		position: absolute
		background-color: #DEBB42
		top: 40%
		.price
			font-size: 40px
			line-height: 70px
			text-align: right
			margin-right: 10px
			color: white
			right: 0
			position: absolute

	.add-to-cart
		width: 40%
		height: 50px
		border: 1px solid black
		position: absolute
		bottom: 0
		background-color: #393939
		color: white
		font-size: 20px
		text-align: center
		line-height: 45px
		right: 0
		&:hover
			color: #DEBB42

.all-products
	width: 16%
	height: 320px
	border: 1px solid black
	float: right
	margin-right: 10%
	h5
		color: #debb42
		font-family: georgia
		font-size: 20px
		margin: 0
		text-align: center
		line-height: 30px
		width: 100%
		height: 30px
		border-bottom: 1px solid black

.new-product
	position: absolute
	width: 50%
	top: 50%
	left: 0
	right: 0
	margin: auto


.cocktail-menu
	top: 279px
	width: 23%
	height: 605px
	border: 1px solid black
	position: absolute
	left: 40px
	.list-title
		padding-left: 13%
		top: 38px
		height: 50px
		position: absolute
		width: 87%
		line-height: 50px
	.list
		margin-top: 100px
		.cocktail-menu-item
			height: 40px
			border-bottom: 1px solid black
			font-size: 20px
			line-height: 37px
			list-style-type: none
			cursor: pointer

.product-header
	width: 69%
	top: 300px
	position: absolute
	border-bottom: 1px solid black
	right: 34px
	height: 62px





