<div class='product-title'>
	COCKTAIL BAR
</div>

<div class='prodcut-catergory'>
	<div class='product'>
		<div class='product-header'>
			Mojito
		</div>
		<div class='product-image'>
			<a href='/products/1' class='view-image' id='product1'> view cocktail</a>
		</div>
	</div>
	<div class='product'>
		<div class='product-header'>
			Alexander
		</div>
		<div class='product-image'>
			<a href='/products/2' class='view-image' id='product1'> view cocktail</a>
		</div>
	</div>
	<div class='product'>
		<div class='product-header'>
			Margarita
		</div>
		<div class='product-image'>
			<a href='/products/3' class='view-image' id='product1'> view cocktail</a>
		</div>
	</div>
	<div class='product'>
		<div class='product-header'>
			Pineapple Punch
		</div>
		<div class='product-image'>
			<a href='/products/4' class='view-image' id='product1'> view cocktail</a>
		</div>
	</div>
</div>






