
<div class="cocktail-image-border">
	<div class='cocktail-image'>
	</div>
</div>


<div class='small-cocktail-image-box'>
	<div class='small-cocktail-images-border'>
		<div class='small-cocktail-images'>
		</div>
	</div>
</div>

<div class='cocktail-info'>
	<div class='cocktail-title'>
		<h4><%= @product.name %></h4>
		<p>Availabilty: <span class='stock'>In stock</span></p>
	</div>
	<div class='cocktail-price'>
		<span class='price'>£<%= @product.price%>.00</span>
	</div>

	<button class='add-to-cart'>
		Add to cart
	</button>
</div>


<div class='all-products'>	
	<h5>Other Packages</h5>
	<ul>
		<li>Cocktail 1</li>
		<li>Cocktail 2</li>
		<li>Cocktail 3</li>
		<li>Cocktail 4</li>
		<li>Cocktail 5</li>
		<li>Cocktail 6</li>
		<li>Cocktail 7</li>
	</ul>
</div>